{% extends "layout.html" %}

{% block title %} Search {% endblock %}

{% block content %}

<div class="row h-50 justify-content-center align-items-center">
    <form action="/search" method="POST">
        <div class="form-row">
            <div class="col-10">
                <input class="form-control form-control-lg" type="text" name="q" placeholder="Enter Title, Author or ISBN">
            </div>
            <div class="col-2">
                <button class="btn btn-secondary btn-lg" type="submit">Search</button>
            </div>
        </div>
    </form>

    
</div>


{% if books %}

{% for book in books %}
<div class="row my-1 justify-content-center"></div>
    <div class="col">
        <div class="card search-result">
            <h6 class="card-header"><a href="/books/{{ book.isbn }}">{{ book.title }}</a></h5>    
            <div class="card-body">
                <p class="card-text">{{ book.author }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endif %}



{% endblock %}
 

